doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width,initial-scale=1")

        link(rel='stylesheet', href='/bootstrap-3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(type='text/javascript' src='/javascripts/jquery-2.1.4.min.js')
        script(type='text/javascript' src='/javascripts/jquery.tinysort.min.js')
        script(type='text/javascript' src='/javascripts/jquery.jqmts.js')
        script(type='text/javascript' src='/bootstrap-3.3.6/js/bootstrap.min.js')

    body
        block content
