<div class="nav navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <button class="btn btn-default navbar-btn navbar-left" onclick="m$.updateView('edit',{_id:'', name:'', command:''})">
            <span class="glyphicon glyphicon-plus"></span>
            Add
        </button>
        <button class="btn btn-default navbar-btn navbar-left" onClick="m$.listRecords('commands','home')">
            <span class="glyphicon glyphicon-refresh"></span>
            Refresh
        </button>
    </div>
</div>

<div class="container-fluid">
    <div>
        <p> &nbsp; </p>
    </div>
    <div class="list-group sortable">
        <% Object.keys(data.records).map(function (key) { %>
        <% var record = data.records[key]; %>
        <% m$.data.records = data.records; %>
        <a class="list-group-item" href="#" >
            <div class="pull-left" onclick="m$.executeCommand('shell', m$.data.records[<%= record._id %>].command)">
                <%= record.name %>
            </div>
            <div class="pull-right"  onclick="m$.deleteRecord('commands','home', <%= record._id %>)">
                <span class="glyphicon glyphicon-trash"></span>
            </div>
            <div class="pull-right" style="margin-right: 10px;" onclick="m$.updateView('edit',m$.data.records[<%= record._id %>])">
                <span class="glyphicon glyphicon-edit"></span>
            </div>
            <div class="clearfix"></div>
        </a>
        <% }); %>

    </div>
</div>

<!--
<div class="nav navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <button class="btn btn-default navbar-btn navbar-left">
            <span class="glyphicon glyphicon-home"></span>
            Home
        </button>
    </div>
</div>
-->

