<div>
    <p> &nbsp;&nbsp;</p>
    <pre><%= data %></pre>
    <p> &nbsp;&nbsp;</p>
    <div class="nav navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <button class="btn btn-default navbar-btn navbar-left" onclick="m$.listRecords('commands','home')">
                <span class="glyphicon glyphicon-home" ></span>
                Home
            </button>
        </div>
    </div>
</div>
