<div>
    <div class="nav navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <button class="btn btn-default navbar-btn navbar-left" onclick="m$.listRecords('commands','home')">
                <span class="glyphicon glyphicon-arrow-left" ></span>
                Back
            </button>
        </div>
    </div>
    <p> &nbsp;&nbsp;</p>
    <div class="container-fluid"><%= data %></div>
    <p> &nbsp;&nbsp;</p>
</div>
